<form action="/bron" method="POST" id="bron">
	<h3>Регистрация</h3>

	<label for="full_name">ФИО</label>
	<input
		type="text"
		placeholder="Ивано Иван Иванович"
		name="full_name"
		id="full_name"
		required
	/>

	<label for="phone">Телефон</label>
	<input
		type="tel"
		placeholder="+7 (999)-999-99-99"
		min="11"
		max="11"
		name="phone"
		id="phone"
	/>

    <label for="email">Почта</label>
	<input
		type="email"
		placeholder="IvanovII@mail.ru"
		name="email"
		id="email"
		required
	/>

	<label for="car">Модель машины</label>
	<input
		type="text"
		min="10"
		max="10"
		placeholder="Renaut Logan"
		name="name"
		id="name"
		required
	/>

	<button type="submit">Забронировать</button>

</form>